.App {
  background-color: #5f506b;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr;
  place-content: center;
  color: white;
}

.App h1 {
  font-size: 3rem;
  text-align: center;
  padding-top: 20px;
}

.todo-container {
  background-color: #fff8f0;
  padding: 20px;
  border-radius: 20px;
  height: fit-content;
  display: grid;
  grid-gap: 10px;
}

.todo-item {
  background: #5f506b;
  border-radius: 20px;
  padding: 20px;
  width: 40vw;
  height: fit-content;
  display: grid;
  grid-template-columns: 5fr 0.5fr 0.5fr;
}

.todo-item input {
  outline: none;
  border: none;
  background-color: #5f506b;
  border-bottom: 1px solid white;
  color: white;
}

.todo-item input::placeholder {
  color: white;
}

.todo-item .icon:hover {
  cursor: pointer;
}
